n8n/Causacion Fact Prov.json
{
  "name": "Causacion Fact Prov",
  "nodes": [
    {
      "parameters": {
        "format": "resolved",
        "options": {}
      },
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2.1,
      "position": [
        -1296,
        -368
      ],
      "id": "0df5e593-877f-460d-9db3-5c3a97407271",
      "name": "Email Trigger (IMAP)",
      "credentials": {
        "imap": {
          "id": "Yf6bTedYTBzEBR4x",
          "name": "IMAP account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0b97c08e-215e-47f4-b0c6-5cceec43b8ae",
              "leftValue": "={{ $json.procesable }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -272,
        -208
      ],
      "id": "23a3b479-41e9-4fb4-ab64-ec86651e68ab",
      "name": "¿Es procesable?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8000/facturas/procesar-adjunto",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "factura_file"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -64,
        -224
      ],
      "id": "30141958-ce83-4fc2-a23d-e5fe4371f5f3",
      "name": "Procesar factura en Python"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d2f55bb2-606d-45e6-a270-93ce2016d056",
              "leftValue": "={{ $json.duplicada }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        128,
        -224
      ],
      "id": "f3ef2504-68a3-4fc0-a2b9-7469e3fbbcde",
      "name": "¿Factura duplicada?"
    },
    {
      "parameters": {
        "fromEmail": "recepciontest@biasolutions.co",
        "toEmail": "={{ $('Variables').item.json.correo_destino }}",
        "subject": "=Factura duplicada - {{ $json.factura.numero_factura }}",
        "html": "=<h3>Factura duplicada detectada</h3>\n\n<p>La factura no fue enviada al flujo de causación porque ya existe en la base de datos.</p>\n\n<p><b>Proveedor:</b> {{ $json.factura.proveedor_nombre }}</p>\n<p><b>NIT Proveedor:</b> {{ $json.factura.proveedor_nit }}</p>\n<p><b>Número factura:</b> {{ $json.factura.numero_factura }}</p>\n<p><b>Fecha:</b> {{ $json.factura.fecha_factura }}</p>\n<p><b>Total:</b> {{ $json.factura.total_pagar }}</p>\n<p><b>CUFE:</b> {{ $json.factura.cufe }}</p>\n\n<hr>\n\n<p><b>ID registrado:</b> {{ $json.factura_id }}</p>\n<p><b>Archivo recibido:</b> {{ $json.nombre_original }}</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        336,
        -384
      ],
      "id": "ee7eb915-9d0a-452e-90bd-387dd4721af1",
      "name": "Notificar factura duplicada",
      "webhookId": "d560bd32-537c-463b-a3de-17385b6d5659",
      "credentials": {
        "smtp": {
          "id": "3c5S6AQq2Co2Uy1k",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "url": "=http://127.0.0.1:8000/historico/proveedor/{{ $json.factura.proveedor_nit }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        336,
        0
      ],
      "id": "6ef5cc66-c08a-49cc-8901-3b68bb7fe41d",
      "name": "Consultar histórico proveedor"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://127.0.0.1:8000/causacion/causar/{{ $('Procesar factura en Python').item.json.factura_id }}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        528,
        0
      ],
      "id": "0bacdc68-c2ce-490e-ba9d-b9f8dae1bdd5",
      "name": "Causar factura automáticamente"
    },
    {
      "parameters": {
        "fromEmail": "recepciontest@biasolutions.co",
        "toEmail": "={{ $('Variables').item.json.correo_destino }}",
        "subject": "=Factura causada automáticamente - {{ $json.numero_factura }}",
        "html": "=<h3>Factura causada automáticamente</h3>\n\n<p>La factura fue procesada y causada automáticamente en modo simulación.</p>\n\n<p><b>Estado:</b> {{ $json.estado }}</p>\n<p><b>Proveedor:</b> {{ $json.proveedor_nombre }}</p>\n<p><b>NIT:</b> {{ $json.proveedor_nit }}</p>\n<p><b>Número factura:</b> {{ $json.numero_factura }}</p>\n<p><b>Factura ID:</b> {{ $json.factura_id }}</p>\n<p><b>Causación ID:</b> {{ $json.causacion_id }}</p>\n<p><b>Confianza:</b> {{ $json.confianza }}%</p>\n\n<hr>\n\n<h4>Resumen contable</h4>\n\n<p><b>Total débito:</b> {{ $json.total_debito }}</p>\n<p><b>Total crédito:</b> {{ $json.total_credito }}</p>\n\n<table border=\"1\" cellpadding=\"6\" cellspacing=\"0\">\n  <thead>\n    <tr>\n      <th>Tipo</th>\n      <th>Concepto</th>\n      <th>Cuenta</th>\n      <th>Nombre cuenta</th>\n      <th>Centro costo</th>\n      <th>Débito</th>\n      <th>Crédito</th>\n    </tr>\n  </thead>\n  <tbody>\n    {{ $json.lineas.map(l => `\n      <tr>\n        <td>${l.tipo}</td>\n        <td>${l.concepto_servicio || ''}</td>\n        <td>${l.cuenta_contable}</td>\n        <td>${l.nombre_cuenta}</td>\n        <td>${l.centro_costo || ''}</td>\n        <td>${l.debito}</td>\n        <td>${l.credito}</td>\n      </tr>\n    `).join('') }}\n  </tbody>\n</table>\n\n<hr>\n\n<p><b>Mensaje:</b> {{ $json.mensaje }}</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        928,
        -144
      ],
      "id": "d3330a69-a20f-456d-9ab5-f79750ac40f5",
      "name": "Notificar causación automática",
      "webhookId": "ef7596e0-1059-46f9-800e-f2c4aa96c29d",
      "credentials": {
        "smtp": {
          "id": "3c5S6AQq2Co2Uy1k",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "eb687e9d-984d-4285-8c06-65a78182ecaa",
              "leftValue": "={{ $json.ok }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        736,
        0
      ],
      "id": "fffa6248-e865-45fc-b90b-5bff004e543f",
      "name": "¿Causación exitosa?"
    },
    {
      "parameters": {
        "fromEmail": "recepciontest@biasolutions.co",
        "toEmail": "={{ $('Variables').item.json.correo_destino }}",
        "subject": "=Factura requiere revisión - {{ $json.estado || 'REQUIERE_REVISION' }} - Factura ID {{ $json.factura_id }}",
        "html": "=<h3>Factura requiere revisión manual</h3>\n\n<p>La factura fue procesada, pero no pudo ser causada automáticamente.</p>\n\n<p><b>Estado:</b> {{ $json.estado }}</p>\n<p><b>Mensaje:</b> {{ $json.mensaje }}</p>\n<p><b>Factura ID:</b> {{ $json.factura_id }}</p>\n\n{{ $json.clasificacion ? `\n<hr>\n<h4>Clasificación de conceptos</h4>\n<p><b>Total líneas:</b> ${$json.clasificacion.total_lineas}</p>\n<p><b>Líneas clasificadas:</b> ${$json.clasificacion.lineas_clasificadas}</p>\n<p><b>Líneas pendientes:</b> ${$json.clasificacion.lineas_pendientes}</p>\n<table border=\"1\" cellpadding=\"6\" cellspacing=\"0\">\n  <thead>\n    <tr>\n      <th>Descripción</th>\n      <th>Concepto</th>\n      <th>Fuente</th>\n      <th>Confianza</th>\n    </tr>\n  </thead>\n  <tbody>\n    ${($json.clasificacion.clasificaciones || []).map(l => `\n      <tr>\n        <td>${l.descripcion || ''}</td>\n        <td>${l.concepto_servicio || 'PENDIENTE'}</td>\n        <td>${l.clasificacion_fuente || ''}</td>\n        <td>${l.clasificacion_confianza || 0}</td>\n      </tr>\n    `).join('')}\n  </tbody>\n</table>\n` : '' }}\n\n{{ $json.faltantes_mapeo ? `\n<hr>\n<h4>Mapeos ERP pendientes</h4>\n<table border=\"1\" cellpadding=\"6\" cellspacing=\"0\">\n  <thead>\n    <tr>\n      <th>Concepto</th>\n      <th>Valor</th>\n      <th>Motivo</th>\n    </tr>\n  </thead>\n  <tbody>\n    ${($json.faltantes_mapeo || []).map(m => `\n      <tr>\n        <td>${m.concepto_servicio || ''}</td>\n        <td>${m.valor || ''}</td>\n        <td>${m.motivo || ''}</td>\n      </tr>\n    `).join('')}\n  </tbody>\n</table>\n` : '' }}\n\n<hr>\n\n<p>Para causar esta factura, responda este correo conservando el siguiente formato:</p>\n\n<pre>\n#CAUSAR_FACTURA\n\nFACTURA_ID={{ $json.factura_id }}\nCENTRO_COSTO=ADMIN\n\nLINEA=GASTO|61553001|Servicios TI|HOSTING\nLINEA=IVA|24081501|IVA descontable servicios 19%|IVA\nLINEA=CXP|23359501|Otros proveedores|CXP\n</pre>\n\n<hr>\n\n<p><b>Instrucciones:</b></p>\n\n<ul>\n  <li>Indique tipo, cuenta, nombre de cuenta y concepto de servicio.</li>\n  <li>No escriba valores manuales; el sistema toma débitos, créditos, IVA y CXP desde el XML/ZIP.</li>\n  <li>Use concepto como HOSTING, DOMINIO, CORREO, CERTIFICADO_SSL, LICENCIA, SERVIDOR, IVA o CXP.</li>\n  <li>Si el estado es REQUIERE_MAPEO_ERP, cree o ajuste el mapeo ERP antes de reenviar.</li>\n</ul>",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        928,
        96
      ],
      "id": "1003aaf7-5683-4fcf-9475-905f4b1274c0",
      "name": "Notificar revisión manual",
      "webhookId": "21042ec7-8e71-4ff3-a292-08dbf9492508",
      "credentials": {
        "smtp": {
          "id": "3c5S6AQq2Co2Uy1k",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const output = [];\n\nfor (const item of $input.all()) {\n  const binary = item.binary || {};\n\n  let zipFile = null;\n  let xmlFile = null;\n  let pdfFile = null;\n\n  for (const key of Object.keys(binary)) {\n    const file = binary[key];\n    const fileName = (file.fileName || '').toLowerCase();\n    const mimeType = (file.mimeType || '').toLowerCase();\n\n    if (fileName.endsWith('.zip') || mimeType.includes('zip')) {\n      zipFile = key;\n    }\n\n    if (fileName.endsWith('.xml') || mimeType.includes('xml')) {\n      xmlFile = key;\n    }\n\n    if (fileName.endsWith('.pdf') || mimeType.includes('pdf')) {\n      pdfFile = key;\n    }\n  }\n\n  const selectedKey = zipFile || xmlFile;\n  const tipoAdjunto = zipFile ? 'zip' : (xmlFile ? 'xml' : null);\n\n  const newBinary = { ...binary };\n\n  if (selectedKey) {\n    newBinary.factura_file = binary[selectedKey];\n  }\n\n  output.push({\n    json: {\n      subject: item.json.subject,\n      from: item.json.from,\n      date: item.json.date,\n\n      tiene_zip: !!zipFile,\n      tiene_xml: !!xmlFile,\n      tiene_pdf: !!pdfFile,\n\n      zip_binary_key: zipFile,\n      xml_binary_key: xmlFile,\n      pdf_binary_key: pdfFile,\n\n      selected_binary_key: selectedKey,\n      tipo_adjunto: tipoAdjunto,\n      nombre_adjunto: selectedKey ? binary[selectedKey].fileName : null,\n      total_adjuntos: Object.keys(binary).length,\n\n      procesable: !!selectedKey\n    },\n    binary: newBinary\n  });\n}\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -464,
        -208
      ],
      "id": "76a277c5-8230-4007-aaeb-694b6054f06e",
      "name": "Detectar Adjuntos Factura"
    },
    {
      "parameters": {
        "jsCode": "const output = [];\n\nfor (const item of $input.all()) {\n  const subject = item.json.subject || '';\n  const text = item.json.text || '';\n  const html = item.json.html || '';\n  const body = text || html || '';\n\n  const subjectUpper = subject.toUpperCase();\n  const bodyUpper = body.toUpperCase();\n\n  let tipo_correo = 'FACTURA';\n\n  if (\n    bodyUpper.includes('#CAUSAR_FACTURA') ||\n    subjectUpper.includes('FACTURA REQUIERE REVISIÓN') ||\n    subjectUpper.includes('FACTURA REQUIERE REVISION')\n  ) {\n    tipo_correo = 'RESPUESTA_REVISION';\n  }\n\n  output.push({\n    json: {\n      ...item.json,\n      tipo_correo,\n      subject,\n      body_text: body\n    },\n    binary: item.binary\n  });\n}\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -944,
        -368
      ],
      "id": "d55d1a96-e429-4a84-af68-7136b2f302ca",
      "name": "Clasificar correo"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "58660302-4239-4be9-8ddd-e9c3b361cbfc",
              "leftValue": "={{ $json.tipo_correo }}",
              "rightValue": "RESPUESTA_REVISION",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -752,
        -368
      ],
      "id": "33b4285a-bc5c-4987-a9a2-d601cc17017a",
      "name": "¿Es respuesta revisión?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8000/revision/procesar-respuesta",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "subject",
              "value": "={{ $json.subject }}"
            },
            {
              "name": "from",
              "value": "={{ ($json.from && $json.from.text) ? $json.from.text : ($json.from || '') }}"
            },
            {
              "name": "body",
              "value": "={{ $json.body_text }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -432,
        -608
      ],
      "id": "b720b2ac-631e-4d02-9a4c-46bdcd4a8c78",
      "name": "Procesar respuesta revisión"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "69d8be4c-90aa-4c64-8068-b4e30ad6a4a0",
              "leftValue": "={{ $json.ok }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -256,
        -608
      ],
      "id": "02914758-e518-4284-828b-ccc2eb7645a3",
      "name": "¿Respuesta procesada?"
    },
    {
      "parameters": {
        "fromEmail": "recepciontest@biasolutions.co",
        "toEmail": "={{ $('Variables').item.json.correo_destino }}",
        "subject": "=Factura causada desde respuesta manual - {{ $json.numero_factura }}",
        "html": "=<h3>Factura causada correctamente</h3>\n\n<p>La respuesta manual fue procesada correctamente.</p>\n\n<p><b>Estado:</b> {{ $json.estado }}</p>\n<p><b>Mensaje:</b> {{ $json.mensaje }}</p>\n<p><b>Factura ID:</b> {{ $json.factura_id }}</p>\n<p><b>Causación ID:</b> {{ $json.causacion_id }}</p>\n<p><b>Proveedor:</b> {{ $json.proveedor_nombre }}</p>\n<p><b>NIT:</b> {{ $json.proveedor_nit }}</p>\n<p><b>Número factura:</b> {{ $json.numero_factura }}</p>\n\n<hr>\n\n<p><b>Total débito:</b> {{ $json.total_debito }}</p>\n<p><b>Total crédito:</b> {{ $json.total_credito }}</p>\n\n<p>La contabilización también fue guardada como histórico para próximas facturas del proveedor.</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -48,
        -736
      ],
      "id": "299d31d9-9bc2-4258-9954-e8c201c11fb7",
      "name": "Notificar respuesta procesada",
      "webhookId": "bf76027d-4c37-4985-989f-10b1f1e9aa8b",
      "credentials": {
        "smtp": {
          "id": "3c5S6AQq2Co2Uy1k",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "recepciontest@biasolutions.co",
        "toEmail": "={{ $('Variables').item.json.correo_destino }}",
        "subject": "Error procesando respuesta manual",
        "html": "=<h3>No se pudo procesar la respuesta manual</h3>\n\n<p><b>Estado:</b> {{ $json.estado }}</p>\n<p><b>Mensaje:</b> {{ $json.mensaje }}</p>\n\n<hr>\n\n<p>Revise que la respuesta tenga este formato:</p>\n\n<pre>\n#CAUSAR_FACTURA\n\nFACTURA_ID=5\nCENTRO_COSTO=ADMIN\n\nLINEA=GASTO|61553001|Servicios TI|HOSTING\nLINEA=IVA|24081501|IVA descontable servicios 19%|IVA\nLINEA=CXP|23359501|Otros proveedores|CXP\n</pre>\n\n<p>Los valores contables se toman desde el XML/ZIP de la factura, no desde la respuesta manual.</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -48,
        -480
      ],
      "id": "b29ddd79-c65d-4699-b3ef-9c6806c07e15",
      "name": "Notificar error respuesta",
      "webhookId": "1836d9b2-759e-4b38-9fde-0f9f040effba",
      "credentials": {
        "smtp": {
          "id": "3c5S6AQq2Co2Uy1k",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ae6cf859-3eb5-4955-b50c-a77985e6dadd",
              "name": "correo_destino",
              "value": "cmontenegrocam@gmail.com",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1120,
        -368
      ],
      "id": "902fc160-5723-46d7-ab16-47846658ff92",
      "name": "Variables"
    }
  ],
  "pinData": {},
  "connections": {
    "Email Trigger (IMAP)": {
      "main": [
        [
          {
            "node": "Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Es procesable?": {
      "main": [
        [
          {
            "node": "Procesar factura en Python",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar factura en Python": {
      "main": [
        [
          {
            "node": "¿Factura duplicada?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Factura duplicada?": {
      "main": [
        [
          {
            "node": "Notificar factura duplicada",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Consultar histórico proveedor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar histórico proveedor": {
      "main": [
        [
          {
            "node": "Causar factura automáticamente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Causar factura automáticamente": {
      "main": [
        [
          {
            "node": "¿Causación exitosa?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Causación exitosa?": {
      "main": [
        [
          {
            "node": "Notificar causación automática",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notificar revisión manual",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detectar Adjuntos Factura": {
      "main": [
        [
          {
            "node": "¿Es procesable?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clasificar correo": {
      "main": [
        [
          {
            "node": "¿Es respuesta revisión?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Es respuesta revisión?": {
      "main": [
        [
          {
            "node": "Procesar respuesta revisión",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Detectar Adjuntos Factura",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar respuesta revisión": {
      "main": [
        [
          {
            "node": "¿Respuesta procesada?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Respuesta procesada?": {
      "main": [
        [
          {
            "node": "Notificar respuesta procesada",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notificar error respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Variables": {
      "main": [
        [
          {
            "node": "Clasificar correo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "2dbb1c57-cbbb-401f-b8cb-49e6283bcc19",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e1b2ce25c3912cdaa5abf140d7a72664de4fca0a68a060e2a21642af3ac9aac4"
  },
  "nodeGroups": [],
  "id": "Nlg3whaDbWv5HvRk",
  "tags": []
}
